################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/SQLPerformance255252/FileContentIndex/2f2312a8-eef5-4a29-90ef-bb0a9d70bd18.vsidx
/.vs/slnx.sqlite
/.vs/SQLPerformance255252/FileContentIndex/2f2312a8-eef5-4a29-90ef-bb0a9d70bd18.vsidx
/.vs/SQLPerformance255252/FileContentIndex/2f2312a8-eef5-4a29-90ef-bb0a9d70bd18.vsidx
/.vs/SQLPerformance255252/FileContentIndex/3ef62f15-6095-4206-86e0-4f994e2d4f05.vsidx
/.vs/SQLPerformance255252/FileContentIndex/7206e9a2-97d7-46d6-8e8a-419a099d4f13.vsidx
/.vs/SQLPerformance255252/FileContentIndex/a11b9db9-0c77-4abd-acad-76f42cbd7825.vsidx
/.vs/SQLPerformance255252/FileContentIndex/fdb1ff4d-a943-4bf7-8c22-8d7aa6dd006e.vsidx
/.vs/SQLPerformance255252/FileContentIndex
/.vs/SQLPerformance255252
